configstore
github-copilot
gtk-2.0
jgit
neofetch
nvim-back
qBittorrent
raycast
wireshark
ytmdl
QtProject
fontforge
htop
zed/.*
.DS_Store
__pycache__/
zed/embeddings
zed/prompts
zed/keymap_backup.json
zed/settings_backup.json
zsh/secrets.zsh
tmux/plugins
.omx
